{{#partial "styles"}}
    <link rel='stylesheet' href='/css/Style.css' type="text/css">
{{/partial}}
{{#partial "header"}}
    <h2>WELCOME TO ANIMAL HUB</h2>
{{/partial}}
{{#partial "content"}}
    <div class="container">
        <img src="/images/animal4.jpeg">
        <br>
        <h1>HERE ARE THE ANIMALS SPOTTED</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>SECURED POSTS</h4>
                {{#each animals}}
                    <label for="species_name">Species Name</label><span><p>{{ species_name }}</p></span>
                    <label for="location">Spotted At</label><span><p>{{ spotted_At }}</p></span>
                {{/each}}
            </div>
            <div class="col-md-6">
                <h4>ENDANGERED POSTS</h4>
                {{#each animals}}
                    <label for="species_name">Species Name</label><span><p>{{ species_name }}</p></span>
                    <label for="location">Spotted At</label><span><p>{{ spotted_At }}</p></span>
                    <label for="health">Health</label><span><p>{{ health }}</p></span>
                    <label for="age">Age</label><span><p>{{ age }}</p></span>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs }}